attrdict==2.0.1 # only used in space_vis.py
imageio==2.6.1 # only used in space_vis.py
matplotlib~=3.5.0
numpy~=1.21.4
Pillow~=9.5.0 #must be lower than 10.0.0 to still work with ANTIALIAS
protobuf~=3.20.0
scikit-image~=0.16.2 # only used in motion_processing.py
scipy~=1.7.3
tqdm~=4.42.1
yacs~=0.1.8
tensorboard==2.1.1
rtpt~=0.0.4
argparse~=1.4.0

torch~=1.10.0 # use pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118 instead
opencv-python~=4.3.0.36
torchvision~=0.11.1 # not used that much
pandas~=1.0.1
scikit-learn~=1.0.1
termcolor~=1.1.0 # not used that much, but only used for printing in the terminal

NicePrinter
ocatari
gymnasium[atari, accept-rom-license]
pyclustering